body{
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color: orange;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}
h1, h2{
	font-family: 'Righteous', cursive;
}

header h1{
	color: white;
	font-size: 50px;
	}

header img{
	border-radius: 150px;
	width: 250px;
	border: 5px solid black;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

h2{
	font-size: 30px;
	color: orange;
	margin: 40px 0 10px;
}
a{
	color: orange;

}
/*This below declares that when you hover over any a element, which in this case
is the links, it will do whatever you specify*/
a:hover{
	background: orange;
	color: white;

}

main img{
	max-width: 100%;

}

footer{
	background-color: orange;
	text-align: center;
	padding: 50px;

}

footer p{
	margin: 0;
}

p.caption{
	color: #999999;
	font-style: italic;
	margin-top: 0;
}




